/* revert list style to display different bullets */
.md-typeset ul {
  list-style-type: revert;
}

/* highlight section titles in the side navigation */
.md-nav__title {
  color: var(--md-primary-fg-color);
}

@media screen and (min-width: 76.25em) {
  .md-nav__item--section > .md-nav__link[for] {
    color: var(--md-primary-fg-color);
    text-transform: uppercase;
  }
}

/* customize footer 'partials/copyright.html' */
.footer-copyright {
  padding-top: 0.6rem;
  margin: 0.2rem 0.6rem;
  font-size: 0.64rem;
}
